logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.development
.env.production
.env.plasma
.env.monad
.env.somnia
.env.rise
.env.hardhat
.env.test
.env.staging
.env.development.local
.env.production.local
.env.plasma.local
.env.monad.local
.env.somnia.local
.env.rise.local
.env.hardhat.local
.env.test.local
.env.staging.local
.env.development.production
.env.production.production
.env.plasma.production
.env.monad.production
.env.somnia.production
.env.rise.production
.env.hardhat.production
.env.test.production
.env.staging.production
